@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200&display=swap");

.AllPages {
  font-family: "Overpass", sans-serif;
  background-image: linear-gradient(#79428b, #af8eb9);
  overflow: hidden;
  color: white;
}

input {
  text-align: center;
  font-family: "Overpass", sans-serif;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.LoginPage {
  text-align: center;
}

body {
  margin-bottom: 25vh;
  text-align: center;
  overflow: hidden;
  color: white;
  height: 100vh;
}

.LoginHeader {
  border-bottom-style: solid;
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;
}

.form-group {
  margin: 1em;
  border: none;
  border-radius: 30px;
}

.form-inner {
  font-family: "Overpass", sans-serif;
}

#chooseOfficeSelect {
  width: 16vw;
  height: 5vh;
}

.startPageButtons {
  color: white;
  border-radius: 8px;
  padding: 10px 80px;
  background-color: #4c4c86;
}

#createUserLink {
  font-size: small;
  font-family: "Overpass", sans-serif;
  margin-top: 1em;
}

.createUser {
  text-align: center;
}

footer {
  background-color: #4c4c86;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20vh;
  /* border-top-style: solid; */
  /* margin-top: 12vw;
  margin-bottom: 10vw; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
